<script>

                            {% for n in range(1) %}

                             var options = {
                             series: [{

                                data: [

                                        {
                                          x: new Date({{df_main.loc[a[0]+(n+1)|string]['date'][0:4]}}, {{df_main.loc[a[0]+(n+1)|string]['date'][5:7]}}, {{df_main.loc[a[0]+(n+1)|string]['date'][8:10]}}),
                                          y: [{{df_main.loc[a[0]+(n+1)|string]['open']}}, {{df_main.loc[a[0]+(n+1)|string]['high']}}, {{df_main.loc[a[0]+(n+1)|string]['low']}}, {{df_main.loc[a[0]+(n+1)|string]['close']}}]

                                        },
                                        {
                                          x: new Date({{df_main.loc[a[0]+(n+2)|string]['date'][0:4]}}, {{df_main.loc[a[0]+(n+2)|string]['date'][5:7]}}, {{df_main.loc[a[0]+(n+2)|string]['date'][8:10]}}),
                                          y: [{{df_main.loc[a[0]+(n+2)|string]['open']}}, {{df_main.loc[a[0]+(n+2)|string]['high']}}, {{df_main.loc[a[0]+(n+2)|string]['low']}}, {{df_main.loc[a[0]+(n+2)|string]['close']}}]

                                        },
                                        {
                                          x: new Date({{df_main.loc[a[0]+(n+3)|string]['date'][0:4]}}, {{df_main.loc[a[0]+(n+3)|string]['date'][5:7]}}, {{df_main.loc[a[0]+(n+3)|string]['date'][8:10]}}),
                                          y: [{{df_main.loc[a[0]+(n+3)|string]['open']}}, {{df_main.loc[a[0]+(n+3)|string]['high']}}, {{df_main.loc[a[0]+(n+3)|string]['low']}}, {{df_main.loc[a[0]+(n+3)|string]['close']}}]

                                        },
                                        {
                                          x: new Date({{df_main.loc[a[0]+(n+4)|string]['date'][0:4]}}, {{df_main.loc[a[0]+(n+4)|string]['date'][5:7]}}, {{df_main.loc[a[0]+(n+4)|string]['date'][8:10]}}),
                                          y: [{{df_main.loc[a[0]+(n+4)|string]['open']}}, {{df_main.loc[a[0]+(n+4)|string]['high']}}, {{df_main.loc[a[0]+(n+4)|string]['low']}}, {{df_main.loc[a[0]+(n+4)|string]['close']}}]

                                        },
                                        {
                                          x: new Date({{df_main.loc[a[0]+(n+5)|string]['date'][0:4]}}, {{df_main.loc[a[0]+(n+5)|string]['date'][5:7]}}, {{df_main.loc[a[0]+(n+5)|string]['date'][8:10]}}),
                                          y: [{{df_main.loc[a[0]+(n+5)|string]['open']}}, {{df_main.loc[a[0]+(n+5)|string]['high']}}, {{df_main.loc[a[0]+(n+5)|string]['low']}}, {{df_main.loc[a[0]+(n+5)|string]['close']}}]

                                        }
                                      ]

                                       }],

                            chart: {
                            type: 'candlestick',
                            height: 350
                                },
                            title: {
                              text: 'CandleStick Chart',
                              align: 'left'
                            },
                            xaxis: {
                              type: 'datetime'
                            },
                            yaxis: {
                              tooltip: {
                                enabled: true
                              }
                            }
                            };{% endfor %}

                            var chart = new ApexCharts(document.querySelector("#chart"), options);

                            chart.render();

                            </script>



{% for n in range(1) %}


                                {{df_main.loc[a[0]+(n+1)|string]['date'][0:4]}}
                                {{df_main.loc[a[0]+(n+1)|string]['open']}}
                                {{df_main.loc[a[0]+(n+1)|string]['high']}}
                                {{df_main.loc[a[0]+(n+1)|string]['low']}}
                                {{df_main.loc[a[0]+(n+1)|string]['close']}}

                                {{df_main.loc[a[0]+(n+2)|string]['date']}}
                                {{df_main.loc[a[0]+(n+2)|string]['open']}}
                                {{df_main.loc[a[0]+(n+2)|string]['high']}}
                                {{df_main.loc[a[0]+(n+2)|string]['low']}}
                                {{df_main.loc[a[0]+(n+2)|string]['close']}}

                                {{df_main.loc[a[0]+(n+3)|string]['date']}}
                                {{df_main.loc[a[0]+(n+3)|string]['open']}}
                                {{df_main.loc[a[0]+(n+3)|string]['high']}}
                                {{df_main.loc[a[0]+(n+3)|string]['low']}}
                                {{df_main.loc[a[0]+(n+3)|string]['close']}}

                                {{df_main.loc[a[0]+(n+4)|string]['date']}}
                                {{df_main.loc[a[0]+(n+4)|string]['open']}}
                                {{df_main.loc[a[0]+(n+4)|string]['high']}}
                                {{df_main.loc[a[0]+(n+4)|string]['low']}}
                                {{df_main.loc[a[0]+(n+4)|string]['close']}}

                                {{df_main.loc[a[0]+(n+5)|string]['date']}}
                                {{df_main.loc[a[0]+(n+5)|string]['open']}}
                                {{df_main.loc[a[0]+(n+5)|string]['high']}}
                                {{df_main.loc[a[0]+(n+5)|string]['low']}}
                                {{df_main.loc[a[0]+(n+5)|string]['close']}}





                            {% endfor %}