<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</head>
<body>
<div class = "container">
    <h1> Flask with chart.js </h1>
    <div id="chart" class="col-md-5">


        <script>
        {% for n in range(1) %}

             var options = {
            series: [{



           <!-- {{df_main['date'][n]}} -->

            <!-- {{df_main['open'][n]}} {{df_main['high'][n]}} {{df_main['low'][n]}} {{df_main['close'][n]}} -->


                data: [

                        {
                          x: new Date({{df_main['date'][n][0:4]}}, {{df_main['date'][n][5:7]}}, {{df_main['date'][n][8:10]}}),
                          y: [{{df_main['open'][n]}}, {{df_main['high'][n]}}, {{df_main['low'][n]}}, {{df_main['close'][n]}}]

                        },
                        {
                          x: new Date({{df_main['date'][n+1][0:4]}}, {{df_main['date'][n+1][5:7]}}, {{df_main['date'][n+1][8:10]}}),
                          y: [{{df_main['open'][n+1]}}, {{df_main['high'][n+1]}}, {{df_main['low'][n+1]}}, {{df_main['close'][n+1]}}]

                        },
                        {
                          x: new Date({{df_main['date'][n+2][0:4]}}, {{df_main['date'][n+2][5:7]}}, {{df_main['date'][n+2][8:10]}}),
                          y: [{{df_main['open'][n+2]}}, {{df_main['high'][n+2]}}, {{df_main['low'][n+2]}}, {{df_main['close'][n+2]}}]

                        },
                        {
                          x: new Date({{df_main['date'][n+3][0:4]}}, {{df_main['date'][n+3][5:7]}}, {{df_main['date'][n+3][8:10]}}),
                          y: [{{df_main['open'][n+3]}}, {{df_main['high'][n+3]}}, {{df_main['low'][n+3]}}, {{df_main['close'][n+3]}}]

                        },
                        {
                          x: new Date({{df_main['date'][n+4][0:4]}}, {{df_main['date'][n+4][5:7]}}, {{df_main['date'][n+4][8:10]}}),
                          y: [{{df_main['open'][n+4]}}, {{df_main['high'][n+4]}}, {{df_main['low'][n+4]}}, {{df_main['close'][n+4]}}]

                        }
                      ]



                       }],

            chart: {
            type: 'candlestick',
            height: 350
                },
            title: {
              text: 'CandleStick Chart',
              align: 'left'
            },
            xaxis: {
              type: 'datetime'
            },
            yaxis: {
              tooltip: {
                enabled: true
              }
            }
            };{% endfor %}

            var chart = new ApexCharts(document.querySelector("#chart"), options);

            chart.render();


        </script>
    </div>
    <div>
        {% for n in range(5) %}

            {{df_main['date'][n][0:4]}} {{df_main['date'][n][5:7]}} {{df_main['date'][n][8:10]}}
            {{df_main['open'][n]}}

        {% endfor %}
    </div>

</div>

</body>
</html>