<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    td { padding: 10px; }
        body { font-family:arial; margin: 20px; }
        .bullish {background: green; color: white;}
        .bearish {background: red; color: white;}
    </style>

    <meta charset="UTF-8">
    <title>Test website</title>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>



</head>

<body>
    <h1> Candlestick Scaner </h1>


    <form>
        <select name="pattern">

            <option value="">-- Select a Pattern --</option>
            {% for key in candlestick_patterns %}

                <option value="{{key}}" {% if pattern == key %}
                        selected="selected"{% endif %}>
                    {{ candlestick_patterns[key] }}
                </option>

            {% endfor %}

        </select>

         <input type="submit" value="scan"/>
    </form>



        <table>
            <tr>
                <th> Trading Pair </th>
                <th> Crypto name </th>
                <th> Signal</th>
            </tr>


            {% for symbol in crypto_dict %}
                {% if crypto_dict[symbol][pattern] %}


                    {% set a = crypto_dict[symbol]['crypto'] %}
                    {% set b = crypto_dict[symbol]['crypto'].split(';') %}



                <tr>

                    <td>{{ symbol }}</td>
                    <td>{{crypto_dict[symbol]['crypto']}}</td>
                    <td class="{{crypto_dict[symbol][pattern]}}">{{crypto_dict[symbol][pattern]}}</td>

                </tr>


                <tr>
                    <td id="chart" class="col-md-5">


                        <script>
                        {% for n in range(1) %}


                             var options = {
                             series: [{

                                data: [

                                        {
                                          x: new Date({{df_main.loc[a+(n+1)|string]['date'][0:4]}}, {{df_main.loc[a+(n+1)|string]['date'][5:7]}}, {{df_main.loc[a+(n+1)|string]['date'][8:10]}}),
                                          y: [{{df_main.loc[a+(n+1)|string]['open']}}, {{df_main.loc[a+(n+1)|string]['high']}}, {{df_main.loc[a+(n+1)|string]['low']}}, {{df_main.loc[a+(n+1)|string]['close']}}]

                                        },
                                        {
                                          x: new Date({{df_main.loc[a+(n+2)|string]['date'][0:4]}}, {{df_main.loc[a+(n+2)|string]['date'][5:7]}}, {{df_main.loc[a+(n+2)|string]['date'][8:10]}}),
                                          y: [{{df_main.loc[a+(n+2)|string]['open']}}, {{df_main.loc[a+(n+2)|string]['high']}}, {{df_main.loc[a+(n+2)|string]['low']}}, {{df_main.loc[a+(n+2)|string]['close']}}]

                                        },
                                        {
                                          x: new Date({{df_main.loc[a+(n+3)|string]['date'][0:4]}}, {{df_main.loc[a+(n+3)|string]['date'][5:7]}}, {{df_main.loc[a+(n+3)|string]['date'][8:10]}}),
                                          y: [{{df_main.loc[a+(n+3)|string]['open']}}, {{df_main.loc[a+(n+3)|string]['high']}}, {{df_main.loc[a+(n+3)|string]['low']}}, {{df_main.loc[a+(n+3)|string]['close']}}]

                                        },
                                        {
                                          x: new Date({{df_main.loc[a+(n+4)|string]['date'][0:4]}}, {{df_main.loc[a+(n+4)|string]['date'][5:7]}}, {{df_main.loc[a+(n+4)|string]['date'][8:10]}}),
                                          y: [{{df_main.loc[a+(n+4)|string]['open']}}, {{df_main.loc[a+(n+4)|string]['high']}}, {{df_main.loc[a+(n+4)|string]['low']}}, {{df_main.loc[a+(n+4)|string]['close']}}]

                                        },
                                        {
                                          x: new Date({{df_main.loc[a+(n+5)|string]['date'][0:4]}}, {{df_main.loc[a+(n+5)|string]['date'][5:7]}}, {{df_main.loc[a+(n+5)|string]['date'][8:10]}}),
                                          y: [{{df_main.loc[a+(n+5)|string]['open']}}, {{df_main.loc[a+(n+5)|string]['high']}}, {{df_main.loc[a+(n+5)|string]['low']}}, {{df_main.loc[a+(n+5)|string]['close']}}]

                                        }
                                      ]

                                       }],

                                                        chart: {
                                                        type: 'candlestick',
                                                        height: 350
                                                            },
                                                        title: {
                                                          text: '{{ symbol }}',
                                                          align: 'left'
                                                        },
                                                        xaxis: {
                                                          type: 'datetime'
                                                        },
                                                        yaxis: {
                                                          tooltip: {
                                                            enabled: true
                                                          }
                                                        }
                                                        };
                             {% endfor %}
                                                        var chart = new ApexCharts(document.querySelector("#chart"), options);

                                                        chart.render();

                            </script>




                    </td>
                </tr>








                {% endif %}
            {% endfor %}
        </table>

</body>
</html>